/* 
Înlocuiți simbolurile ? cu valori potrivite pentru 
a completa regulile CSS de mai jos.
*/

.main {
  display: flex;
  --s: 100px;  /* size */
  --m: 4px;    /* margin */
}

.main div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); /* h=s/cos(30) */
  background: black;
  /* clip-path: polygon(0% ?%, 0% ?%, 50% ?%, 100% ?%, 100% ?%, 50% 0%); */
  clip-path: polygon(
    0% 25%,   /* top-left */
    0% 75%,   /* bottom-left */
    50% 100%, /* bottom */
    100% 75%, /* bottom-right */
    100% 25%, /* top-right */
    50% 0%    /* top */
  );
}

 
