body{
    background-color: lightblue;
}

.container{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-template-rows: 100px 80px 80px 80px 80px 80px 80px;
    grid-gap: 4px;
}


.container > div {
    border: 3px indigo dotted;
    background-color: #fbec5d;
    color: black;
    text-align: center;
    align-content: center;
    padding: 26px;
}

.container > div:nth-child(2){
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    & > div{
        background-color: Ivory;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        text-align: center;
        align-content: center;


        transition: width linear 0.4s, height linear 0.4s;
        &:hover{
            background-color: Crimson;
            color: Crimson;
            width: calc(4em*1/3);
            height: calc(4em*1/3);
        }
    }
}

.container > div:nth-child(1){
    background-color: darkorange;
    grid-column: 1;
    grid-row: 2;
}

.container > div:nth-child(3){
    grid-column: 3;
    grid-row: 3;
}

.container > div:nth-child(4){
    grid-column: 3;
    grid-row: 4;
}

.container > div:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}

.container > div:nth-child(6){
    background-color: darkorange;
    grid-column: 4;
    grid-row: 7;
}


@media (min-width: 330px) and (max-width: 620px){
    .container{
        display: block;
    }
    .container > div:nth-child(2) > div {
        display: block;
        width: calc(4em*1/2);;
        &:hover{
            width: calc(4em*1/4);
        }
    }
}