


<br />
<p>Afisare formular de editare articol - in acest formular de preiau datele curente ale articolului</p>

<form method="post" action="/Articles/Edit/@ViewBag.Id">

    <button type="submit">Editeaza articol</button>

</form>