
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Afisare articole</h2>
<br />

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="  ???  ">Afisare categorii</a>
    <br />
    <a class="btn btn-outline-success" href="/Articles/New">Adauga articol</a>
    <br />

</div>

<br />


@foreach (???)
{
    <div class="card">

        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">AfisareTitlu</h3>

            <div class="card-text">AfisareContinut</div>

            <div class="d-flex justify-content-between flex-row mt-5">

                <div><i class="bi bi-globe"></i> Afisare nume categorie</div>

                <a class="btn btn-success" href="/Articles/Show/???????">Afisare articol</a>

                <span class="alert-success px-1 align-content-center">AfisareData</span>

            </div>

        </div>
       
    </div>

    <br />
    <br />
}









