
<h2>Editare articol</h2>

<form method="" action="">
   
    <label>Titlu articol</label>
    <br />

    <input type="text" name="" value="@ViewBag.Article.Title" />
    <br /><br />

    <label>Continut articol</label>
    <br />

    <input type="text" name="" value="@ViewBag.Article.Content" />
    <br /><br />

    <label>Data</label>
    <br />

    <input type="text" name="" value="@ViewBag.Article.Date" />
    <br />

    <button type="submit" class="btn btn-info">Modifica articol</button>

</form>


