/* 
Înlocuiți simbolurile ? cu valori potrivite pentru 
a completa regulile CSS de mai jos.
*/

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}

main > article {
  flex: 1;
}

main > nav, 
main > aside {
  flex: 0 0 15vw;
  background: #FAF4B7;
}

main > nav {
  order: -1;
}

header, footer {
  height: 10vh;
}

header {
  background: #CDF0EA;
}

article {
  background: #F9F9F9;
}

footer {
  background: #F6C6EA;
}

header, footer, article, nav, aside {
  padding: 1em;
}
