body {
background-color: #fff;
}
.container {
width: 850px;
height: 550px;
/* sfintenie */
transform: scale(0.5);
transform-origin: top left; 
background-color:#539A46;
position:relative;
margin-bottom: -250px;
.line{
        width: 850px;
        height: 550px;
        border:3px solid #ffffff;
        position:absolute;
        left:0px;
        right:0px;
        top:0px;
        bottom:0px;
        &::before{
            border:5px solid #539A46;
            bottom: -6px;
            content: "";
            left: -9px;
            position: absolute;
            right: -6px;
            top: -9px;
        }
}
.half{
        width: 425px;
        height: 550px;
        position:absolute;
        top:0px;
        border-right-color:#fff;
        border-right-style:solid;
        border-right-width:4px;
        left:0px;
        z-index:200;
}
.panelty{
    width:110px;
    height:220px;
    border:3px solid #ffffff;
        position:absolute;
        z-index:220;
        background-color:#539A46;
            &.left{
            left:3px;
            top:150px;
            border-left-color:transparent;
            border-left-width:0px;
            
                &::after{
                    border:3px solid #ffffff;
                    border-left-color:transparent;
                    border-left-width:0px;
                    bottom: 45px;
                    content: "";
                    left: 0px;
                    position: absolute;
                    right: 55px;
                    top: 45px;
                }
            }
            &.right{
            right:0px;
            top:150px;
            border-right-color:transparent;
            border-right-width:0px;
                    &::after{
                    border:3px solid #ffffff;
                    border-right-color:transparent;
                    border-right-width:0px;
                    bottom: 45px;
                    content: "";
                    left: 55px;
                    position: absolute;
                    right: 0px;
                    top: 45px;
                }
            }
}
.center{
        position:absolute;
        width:130px;
        height:130px;
        border:3px solid #ffffff;
        left: 359px;
        top: 193px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
    &::after{
            background-color: #fff;
            border: 5px solid #fff;
            bottom: 55px;
            content: "";
            left: 55px;
            position: absolute;
            right: 55px;
            top: 55px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
    }
}
}



.flag{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}