.container{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px;
    grid-gap: 5px;
}

.container > div {
    border: 4px darkmagenta dotted;
    background-color: plum;
    color: darkmagenta;
    text-align: center;
    align-content: center;
    padding: 23px;
}

.container > div:nth-child(1){
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    & > div{
        background-color: white;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        text-align: center;
        align-content: center;


        transition: width linear 0.33s, height linear 0.33s;
        &:hover{
            background-color: darkmagenta;
            color: darkmagenta;
            width: calc(4em*1/4);
            height: calc(4em*1/4);
        }
    }
}

.container > div:nth-child(2){
    grid-column: 2;
    grid-row: 3;
}

.container > div:nth-child(3){
    grid-column: 2;
    grid-row: 4;
}

.container > div:nth-child(4){
    grid-column: 2;
    grid-row: 5;
}

.container > div:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:6;
}

.container > div:nth-child(6){
    grid-column: 2;
    grid-row: 7;
}

.container > div:nth-child(7){
    grid-column: 3;
    grid-row: 7;
}

/* idk */
@media (min-width: 300px) and (max-width: 500px){
    .container{
        display: block;
    }
}