@model BrowseViewModel

@if (Model.HasBookmarks)
{
    foreach (var bookmark in Model.Bookmarks)
    {
        <partial name="_BookmarkCard" model="bookmark" />
    }
}

@if (Model.PageNumber < Model.TotalPages)
{
    <div class="infinite-scroll-trigger" id="infinite-scroll-trigger">
        <div class="infinite-scroll-loader">
            <div class="loader-dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span class="text-muted small mt-2">Loading more...</span>
        </div>
    </div>
}
