body{
    background-color: lightblue;
}
.container{
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px;
    grid-template-rows: 100px 75px 75px 75px 75px 75px 75px;
    grid-gap: 4px;
}


.container > div {
    border: 4px black dotted;
    background-color: FloralWhite;
    text-align: center;
    align-content: center;
    padding: 22px;
}

.container > div:nth-child(1){
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    & > div{
        background-color: LightGray;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        text-align: center;
        align-content: center;


        transition: width linear 0.3s, height linear 0.3s;
        &:hover{
            background-color: Crimson;
            color: Crimson;
            width: calc(4em*1/3);
            height: calc(4em*1/3);
        }
    }
}

.container > div:nth-child(2){
    background-color: Coral;
    grid-column: 1;
    grid-row: 2;
}

.container > div:nth-child(3){
    grid-column: 3;
    grid-row: 3;
}

.container > div:nth-child(4){
    grid-column: 3;
    grid-row: 4;
}

.container > div:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}

.container > div:nth-child(6){
    background-color: Coral;
    grid-column: 4;
    grid-row: 7;
}


@media (min-width: 350px) and (max-width: 600px){
    .container{
        display: block;
    }
    .container > div:nth-child(1) > div {
        width: 2em;
        &:hover{
            width: calc(2em*1/3);
        }
    }
}